<app-style-button
  [active]="selectedStyle() === null"
  label="All"
  (click)="selectedStyle.set(null)"
>
  <ard-icon-two-circles-diagonal-filled />
</app-style-button>
<app-style-button
  [active]="selectedStyle() === IconType.Outlined"
  label="Outlined"
  (click)="selectedStyle.set(IconType.Outlined)"
>
  <ard-icon-circle />
</app-style-button>
<app-style-button
  [active]="selectedStyle() === IconType.Filled"
  label="Filled"
  (click)="selectedStyle.set(IconType.Filled)"
>
  <ard-icon-circle-filled />
</app-style-button>
