<app-category-button label="All" [count]="totalIcons">
  <ard-icon-placeholder />
</app-category-button>
<app-category-button label="Alerts" [count]="categoryCounts.alerts">
  <ard-icon-alert />
</app-category-button>
<app-category-button label="Animals" [count]="categoryCounts.animals">
  <ard-icon-dog />
</app-category-button>
<app-category-button label="Arrows" [count]="categoryCounts.arrows">
  <ard-icon-arrows-swap-vertical />
</app-category-button>
<app-category-button label="Audio & Video" [count]="categoryCounts.audioAndVideo">
  <ard-icon-headphones />
</app-category-button>
<app-category-button label="Banking" [count]="categoryCounts.banking">
  <ard-icon-bank-card />
</app-category-button>
<app-category-button label="Bathroom" [count]="categoryCounts.bathroom">
  <ard-icon-toilet-sign />
</app-category-button>
<app-category-button label="Bookmarks" [count]="categoryCounts.bookmarks">
  <ard-icon-bookmark />
</app-category-button>
<app-category-button label="Brands" [count]="categoryCounts.brands">
  <ard-icon-brand-youtube />
</app-category-button>
<app-category-button label="Calls" [count]="categoryCounts.calls">
  <ard-icon-call />
</app-category-button>
<app-category-button label="Charts" [count]="categoryCounts.charts">
  <ard-icon-graph-chart />
</app-category-button>
<app-category-button label="City" [count]="categoryCounts.city">
  <ard-icon-building />
</app-category-button>
<app-category-button label="Chats" [count]="categoryCounts.chats">
  <ard-icon-chat />
</app-category-button>
<app-category-button label="Cloud" [count]="categoryCounts.cloud">
  <ard-icon-cloud />
</app-category-button>
<app-category-button label="Coding" [count]="categoryCounts.coding">
  <ard-icon-code />
</app-category-button>
<app-category-button label="Computer" [count]="categoryCounts.computer">
  <ard-icon-computer-monitor />
</app-category-button>
<app-category-button label="Creative Design" [count]="categoryCounts.creativeDesign">
  <ard-icon-color />
</app-category-button>
<app-category-button label="DB & Servers" [count]="categoryCounts.dbAndServers">
  <ard-icon-database />
</app-category-button>
<app-category-button label="Date & Time" [count]="categoryCounts.dateAndTime">
  <ard-icon-calendar-dots-2 />
</app-category-button>
<app-category-button label="Delivery" [count]="categoryCounts.delivery">
  <ard-icon-box />
</app-category-button>
<app-category-button label="Devices" [count]="categoryCounts.devices">
  <ard-icon-calculator />
</app-category-button>
<app-category-button label="Files & Folders" [count]="categoryCounts.docsAndFolders">
  <ard-icon-document />
</app-category-button>
<app-category-button label="Electricity" [count]="categoryCounts.electricity">
  <ard-icon-electricity />
</app-category-button>
<app-category-button label="Emojis" [count]="categoryCounts.emojis">
  <ard-icon-emoji />
</app-category-button>
<app-category-button label="Festive" [count]="categoryCounts.festive">
  <ard-icon-gift />
</app-category-button>
<app-category-button label="Filters & Settings" [count]="categoryCounts.filtersAndSettings">
  <ard-icon-settings />
</app-category-button>
<app-category-button label="Financial" [count]="categoryCounts.financial">
  <ard-icon-coins />
</app-category-button>
<app-category-button label="Food" [count]="categoryCounts.food">
  <ard-icon-burger />
</app-category-button>
<app-category-button label="Games" [count]="categoryCounts.games">
  <ard-icon-game-controller />
</app-category-button>
<app-category-button label="Gestures" [count]="categoryCounts.gestures">
  <!-- <ard-icon-gesture /> -->
</app-category-button>
<app-category-button label="Health" [count]="categoryCounts.health">
  <ard-icon-health-plus />
</app-category-button>
<app-category-button label="Hearts" [count]="categoryCounts.hearts">
  <ard-icon-heart-2 />
</app-category-button>
<app-category-button label="Home" [count]="categoryCounts.home">
  <ard-icon-bed-double />
</app-category-button>
<app-category-button label="Interface" [count]="categoryCounts.interface">
  <ard-icon-button-cursor />
</app-category-button>
<app-category-button label="Kitchen" [count]="categoryCounts.kitchen">
  <ard-icon-oven />
</app-category-button>
<app-category-button label="Mail" [count]="categoryCounts.mail">
  <ard-icon-envelope />
</app-category-button>
<app-category-button label="Maps" [count]="categoryCounts.maps">
  <ard-icon-location-pin />
</app-category-button>
<app-category-button label="Nature" [count]="categoryCounts.nature">
  <ard-icon-tree-coniferous />
</app-category-button>
<app-category-button label="Network" [count]="categoryCounts.network">
  <ard-icon-wifi />
</app-category-button>
<app-category-button label="Photos" [count]="categoryCounts.photos">
  <ard-icon-image />
</app-category-button>
<app-category-button label="School" [count]="categoryCounts.school">
  <ard-icon-graduation-cap-2 />
</app-category-button>
<app-category-button label="Search & Scan" [count]="categoryCounts.searchAndScan">
  <ard-icon-search-2 />
</app-category-button>
<app-category-button label="Security" [count]="categoryCounts.security">
  <ard-icon-shield />
</app-category-button>
<app-category-button label="Shapes" [count]="categoryCounts.shapes">
  <ard-icon-pentagon />
</app-category-button>
<app-category-button label="Shopping" [count]="categoryCounts.shopping">
  <ard-icon-shopping-cart />
</app-category-button>
<app-category-button label="Space & Stars" [count]="categoryCounts.spaceAndStars">
  <ard-icon-star />
</app-category-button>
<app-category-button label="Sports" [count]="categoryCounts.sports">
  <ard-icon-ball-american-football />
</app-category-button>
<app-category-button label="Symbols" [count]="categoryCounts.symbols">
  <ard-icon-infinity />
</app-category-button>
<app-category-button label="Tags" [count]="categoryCounts.tags">
  <ard-icon-tag />
</app-category-button>
<app-category-button label="Text & Numbers" [count]="categoryCounts.textAndNumbers">
  <ard-icon-text />
</app-category-button>
<app-category-button label="Tickets" [count]="categoryCounts.tickets">
  <ard-icon-ticket />
</app-category-button>
<app-category-button label="Travel" [count]="categoryCounts.travel">
  <ard-icon-baggage />
</app-category-button>
<app-category-button label="User" [count]="categoryCounts.user">
  <ard-icon-user />
</app-category-button>
<app-category-button label="Vehicles" [count]="categoryCounts.vehicles">
  <ard-icon-bus-front />
</app-category-button>
<app-category-button label="Weather" [count]="categoryCounts.weather">
  <ard-icon-cloud-rain-2 />
</app-category-button>