@use "../../../node_modules/@ardium-ui/ui/themes/default/core.scss";
@use "../../../node_modules/@ardium-ui/ui/themes/default/buttons/button.scss";
@use "../../../node_modules/@ardium-ui/ui/themes/default/form-field-frame.scss";
@use "../../../node_modules/@ardium-ui/ui/themes/default/select.scss";
@use "../../../node_modules/@ardium-ui/ui/themes/default/dropdown-panel.scss";
@use "../../../node_modules/@ardium-ui/ui/themes/default/chips.scss";
@use "../../../node_modules/@ardium-ui/ui/themes/default/checkbox.scss";

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
  --header-height: 4rem;
  --border: 1px solid var(--ard-detail-ultralight);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-family: 'Inter', sans-serif;
  height: 100%;
  //TODO remove
  background: #555;
  --ard-bg: #555;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h2 {
  font-size: 1.125rem;
  text-align: center;
}
.align-left {
  text-align: left;
}
button,
a {
  cursor: pointer;
}
.hidden {
  display: none !important;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// overrides
.ard-chip-wrapper .ard-clear-btn-wrapper .ard-clear-btn::before {
  content: "✕";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60%;
  position: relative;
  bottom: 1px;
}
.ard-chip-wrapper.ard-chip-align-left.ard-chip-deletable .ard-chip-content-wrapper {
  padding-right: 2px;
}
.ard-chip-wrapper {
  flex-direction: row-reverse !important;
  padding-left: 0 !important;
  padding-right: 4px !important;
}