:host {
  background-color: var(--ard-bg-darker);
  box-shadow: var(--box-shadow);
  border-top: var(--border);
}
.sidebar-section {
  padding: 1rem;

  &:not(:first-child) {
    border-top: var(--border);
  }
}
.sidebar-heading {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 60%;
}
