:host {
  background-color: var(--ard-bg-darker);
  box-shadow: var(--box-shadow);
  border-top: var(--border);
  height: calc(100vh - var(--header-height));
  height: calc(100dvh - var(--header-height));
  padding-bottom: 1rem;
  overflow-y: auto;
}
.sidebar-section {
  padding: 1rem;

  &:not(:first-child) {
    border-top: var(--border);
  }
}
.sidebar-heading {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 60%;
}
