:host {
  display: grid;
  grid-template-columns: max-content 1fr 10rem 20rem;
  align-items: center;
  gap: 1rem;
  height: 64px;
  padding: 0 1rem;
}
.images {
  display: flex;
  align-items: center;

  img {
    aspect-ratio: 1;
  }
  img:first-child {
    height: 52px;
  }
  img:last-child {
    height: 24px;
  }
}
.name {
  font-weight: bold;
}