header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--header-height);
}
.content {
  min-height: 100vh;
  min-height: 100dvh;
  padding-top: var(--header-height);
  width: 100vw;
  display: grid;
  grid-template-columns: 16rem 1fr;

  aside {
    display: grid;
  }
}