:host {
  display: block;
  height: 100%;
}
.icon-row {
  display: flex;
  width: max-content;
  border-left: var(--border);

  &:first-of-type {
    border-top: var(--border);
  }
}
cdk-virtual-scroll-viewport {
  height: 100%;
}
.final-row {
  height: var(--_icon-size);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ard-text3);
}
